stages:
  - review

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

ai_code_review:
  stage: review
  image: python:3.11-slim
  rules:
    - if: "$CI_PIPELINE_SOURCE == 'merge_request_event'"
      when: on_success
    - if: "$CI_MERGE_REQUEST_IID"
      when: on_success
  before_script:
    - python -V
    - pip install --no-input --upgrade pip
    - pip install --no-input -r ai_review/requirements.txt
  script:
    - python ai_review/reviewer.py
  cache:
    key: "$CI_JOB_NAME"
    paths:
      - .cache/pip
  allow_failure: true
  tags:
    - self-hosted
